<html>

    <head>
        <meta name='DESCRIPTION' content="">
        <meta name='KEYWORDS' content="">

        <title>2+7</title>
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
            <h1><a href="/">2+7</a> :: {{board[0]}} : <i>{{board[1]}}</i></h1>
            <div>
                <h2>Create Thread</h2>
                <form method="POST" enctype=multipart/form-data>
                <p>Name: <input name='name' maxlength='50' placeholder='Topic relating to {{board[1]}}'>
                <input type='Submit'>
                </form>
            </div><br>
            <div>
                <ul>
                {% for thread in threads %}
                <li><h2><a href="{{board[0]}}/{{thread[0]}}">{{thread[1]}}</a></h2></li>
                {% endfor %}
                </ul>
            </div>
    </body>
</html>    